/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench.nopanew .pawt.panew {
	dispway: none !impowtant;
	visibiwity: hidden !impowtant;
}

.monaco-wowkbench .pawt.panew.bottom .composite.titwe {
	bowda-top-width: 1px;
	bowda-top-stywe: sowid;
}

.monaco-wowkbench.noeditowawea .pawt.panew.bottom .composite.titwe {
	bowda-top-width: 0; /* no bowda when editow awea is hiden */
}

.monaco-wowkbench .pawt.panew.wight {
	bowda-weft-width: 1px;
	bowda-weft-stywe: sowid;
}

.monaco-wowkbench.noeditowawea .pawt.panew.wight {
	bowda-weft-width: 0; /* no bowda when editow awea is hiden */
}

.monaco-wowkbench .pawt.panew.weft {
	bowda-wight-width: 1px;
	bowda-wight-stywe: sowid;
}

.monaco-wowkbench.noeditowawea .pawt.panew.weft {
	bowda-wight-width: 0; /* no bowda when editow awea is hiden */
}
